body {
    background-color: #FFF7F0;
    color: #030303;
    font-family: "Plus Jakarta Sans", sans-serif;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
#logo img {
    width: 64px;
    aspect-ratio: 1;
}
  
#call-to-action {
    background-color: #030303;
    color: #FFF7F0;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 1000px;
}
  
.text-content {
    text-align: center;
}
  
h1 {
    font-size: 56px;
    margin-block-end: 22px;
}
  
.text-content p {
    color: #7A746E;
}
  
.image-content h2 {
    margin: 0;
    font-size: 18px;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 20px;
}

.image-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  border-radius: 16px;
  padding: 20px;
  color: #FFF7F0;
}

.image img {
  display: block;
  max-width: 100%;
  align-self: flex-end;
}

.graphic-design {
    background-color: #725AC1;
}

.graphic-design img {
  width: 128px;
  height: 192px;
}

.illustrations {
    background-color: #EA7659;
}

.illustrations img {
  width: 230px;
  height: 115px;
}

.photography {
    background-color: #5DBABD;
}

.photography img {
  width: 86px;
  height: 216px;
}

.about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #030303;
}

.nueva {
  justify-content: flex-start;
  display: flex; 
  padding: 20px;    
  border-radius: 16px;
  margin-top: 40px;
}

.nueva img {
  display: flex;
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.h3 {
  justify-content: space-between; 
  border-radius: 16px;
  padding: 20px
}

.p {
  justify-content: space-between; 
  position: absolute;
  border-radius: 16px;
  padding: 20px;
}

#free-consult {
  position: absolute;
  padding: 14px 45px;
  border-radius: 100px;
  background-color: #eb7565;
  color: #FFF7F0;
}