body {
  background-color: #FFF7F0;
  color: #030303;
  font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  width: 64px;
  aspect-ratio: 1;
}

#call-to-action {
  background-color: #030303;
  color: #FFF7F0;
  text-decoration: none;
  padding: 14px 45px;
  border-radius: 1000px;
}

.text-content {
  text-align: center;
}

h1 {
  font-size: 56px;
  margin-block-end: 22px;
}

.text-content p {
  color: #7A746E;
}

.image-content h2 {
  margin: 0;
  font-size: 18px;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 20px;
    border-radius: inherit;
}

.image-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 16px;
    padding: 20px;
    color: #FFF7F0;
}
  
.image img {
    display: block;
    max-width: 100%;
    align-self: flex-end;
    border-radius: 16px;
}

.graphic-design {
    background-color: #725AC1;
}

.graphic-design img {
    width: 128px;
    height: 192px;
}

.illustrations {
    background-color: #EA7659;
}

.illustrations img {
    width: 230px;
    height: 115px;
}

.photography {
    background-color: #5DBABD;
}

.photography img {
    width: 86px;
    height: 216px;
}

.about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #030303;
}

@media (max-width: 768px) {
  .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 20px;
  }

  .image-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 16px;
    padding: 20px;
    color: #FFF7F0;
  }
  .graphic-design {
    background-color: #725AC1;
    width: 128px;
    height: 192px;
  }
  .illustrations {
    background-color: #EA7659;
    width: 230px;
    height: 115px;
  }

  .photography {
    background-color: #5DBABD;
    width: 86px;
    height: 216px;
  }

  .about-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #030303;
  }
}

.work {
  font-size: 28px;
  margin: 0;
  display: block;
  unicode-bidi: isolate;
}

h4 {
  font-size: 34px;
  text-align: center;
  margin: 0;
}

.image-container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: inherit;
}

.image-content2 {
  display: flex;
  padding: 20px;
}

@media (max-width: 768px) {
  h4 {
    font-size: 34px;
    text-align: center;
    margin: 0;
  }
  
  .image-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: inherit;
  }
  
  .image-content2 {
    display: flex;
    padding: 20px;
  }
}

.nueva {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    margin-top: 40px;
}

.nueva img {
    display: flex;
    height: auto;
    object-fit: cover;
}

.text-ammy {
    display: grid;
    row-gap: 60px; /* Espaciado entre filas */
    height: 100%; 
}

.text-ammy h3 {
    font-size: 24px;
    margin: 0;
}

.text-ammy p {
    position: relative;
    border-radius: 16px;
    padding: 20px;
  }

#free-consult {
  text-decoration: none;
  padding: 14px 45px;
  border-radius: 1000px;
  background-color: #eb7565;
  color: #FFF7F0;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.3s;
  width: 150px;
  height: 50px;
  align-content: center;
  /*max-width: 200px;*/
}

#free-consult:hover {
  background-color: #d65c4d; /* Cambia ligeramente el color al pasar el ratón */
}

@media (width <768px) {
  .nueva {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px; 
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    margin-top: 40px;
  }

  .nueva img {
      display: flex;
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  .text-ammy {
      display: grid;
      row-gap: 60px; /* Espaciado entre filas */
      height: 100%; 
  }

  .text-ammy h3 {
      font-size: 24px;
      margin: 0;
  }

  .text-ammy p {
      position: relative;
      border-radius: 16px;
      padding: 20px;
    }

}

.new-2 {
  background-color: #030303;
  color: #FFF7F0;
  border-radius: 10px;
  padding-block: 4rem;
  /* 74 */
  padding-inline: 4.625rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.625rem;
}

.text-new {
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
}

.boton {
  background-color: #EB7565;
  color: inherit;
  padding-block: 0.875rem;
  padding-inline: 2.75rem;
  border-radius: 100vw;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  width: fit-content;
}

@media (max-width: 768px) {
  .new-2 {
    background-color: #030303;
    color: #FFF7F0;
    border-radius: 10px;
    padding-block: 4rem;
    /* 74 */
    padding-inline: 4.625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.625rem;
  }
  
  .text-new {
    display: flex;
    flex-direction: column;
    gap: 1.625rem;
  }
}